{% if currentUser.can('multiTranslateContent') %}
    <fieldset>
        <legend class="h6">Multi Translator</legend>
        <div class="meta">
            {% if element.id != element.canonicalId %}
                <div class="field">Warning: revision changes will apply on top of the translated Entry</div>
            {% endif %}
            {% set existingSiteIds = create('craft\\helpers\\ElementHelper').siteStatusesForElement(element)|keys %}
            {% set supportedSiteIds = create('craft\\helpers\\ElementHelper').supportedSitesForElement(element, true)|map(site => site.siteId) %}
            {% set sites = craft.app.sites.allSites %}

            <div class="field">
                <div class="input">
                    {% if existingSiteIds|length > 1 %}
                        <button type="button" class="btn menubtn" aria-label="Translate">Translate from...</button>
                        <div class="menu">
                            <ul>
                                {% for site in sites %}
                                    {% if site.id in existingSiteIds %}
                                        <li>
                                            <a class=""
                                               href="{{ actionUrl('multi-translator/sidebar/translate', {
                                                   'elementId': element.canonicalId,
                                                   'elementType': element.className,
                                                   'sourceSiteId': site.id,
                                                   'targetSiteId': element.siteId
                                               }) }}">
                                                {{ site.name }} ({{ site.locale }})
                                                {%- if element.siteId == site.id %} (self){% endif %}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% else %}
                        <p>
                            This entry has no other translations yet.
                        </p>
                    {% endif %}
                </div>
            </div>
            <div class="field">
                <div class="input">
                    <button type="button" class="btn menubtn" aria-label="Translate">Translate to...</button>
                    <div class="menu">
                        <ul>
                            {% for site in sites %}
                                {% if site.id in supportedSiteIds %}
                                    <li>
                                        <a class=""
                                           href="{{ actionUrl('multi-translator/sidebar/translate', {
                                               'elementId': element.canonicalId,
                                               'elementType': element.className,
                                               'sourceSiteId': element.siteId,
                                               'targetSiteId': site.id
                                           }) }}">
                                            {{ site.name }} ({{ site.locale }})
                                            {%- if element.siteId == site.id %} (self){% endif %}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="field">
                <div class="input">
                    <a href="{{ url('multi-translator/translate/review', {
                        'elementId': element.canonicalId,
                        'elementType': element.className,
                        'sourceSiteId': element.siteId,
                    }) }}">
                        More options
                    </a>
                </div>
            </div>
        </div>
    </fieldset>
{% endif %}
